- var query = token ? '?token=' + token : ''
title Rooster Feed
each feed in feeds
  link(
    rel='alternate'
    title=feed.attributes.name
    type='application/json'
    href=baseUrl + '/' + feed.attributes.slug + '.json' + query
  )
h1 Rooster Teeth JSON Feeds
ul
  each feed in feeds
    li
      a(href=baseUrl + '/' + feed.attributes.slug + '.json' + query) #{feed.attributes.name}
